.header{
	width: 75%;
	margin: 30px auto;
	/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.footer {
  padding-top:5px;
  padding-bottom:20px;
  text-align: center;
  font-size: 25px;
  color: #008B8B;
  font-weight: bold; 
  font-family: "Comic Sans MS"
}
i {
  font-size:20px;
}

/*body*/
.board{
	width: 75%;
	margin: 20px auto;
	height: auto;
	background: #fff;
	/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 5px auto;
    margin-bottom: 0;
    box-sizing: border-box;
}
.liner{
    height: 2px;
    background: #FFFAFA;
    position: absolute;
    width: %;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;    
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}
span.round-tabs{
    width: 100px;
    height: 70px;
    line-height: 90px;
    display: inline-block;
    border-radius: 10px;
    background: transparent;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center ;
    color: #FFFAF0; border: 5px solid #FFFAF0;
}
.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 25%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
li:after {
    content: " ";
    position: absolute;
    left:445%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;    
}
li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   	opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
}
.nav-tabs > li a{
   width: 100px;
   height: 70px;
   margin: 20px auto;
   border-radius: 10px;
   padding: 0;
}
.nav-tabs > li a:hover{
    background: #FFA072;    
}
.tab-content{
}
.tab-pane{
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}
.font-light {
	font-family: "Titillium Web", sans-serif;
	font-size: 12px;
	margin-top: 5px;
}
@media( max-width : 585px ){
    
.board {
	width: 90%;
	height:auto !important;
}
	span.round-tabs {
	font-size:16px;
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.tab-content .head{
	font-size:20px;
}
.nav-tabs > li a {
	width: 50px;
	height: 50px;
	line-height:50px;
}
li.active:after {
	content: " ";
	position: absolute;
	left: 35%;
}
.btn-outline-rounded {
    padding:12px 20px;
}
.font-light {
	font-family: "Titillium Web", sans-serif;
	font-size: 7px;
}
.box {
    margin-bottom: 10px;
    padding: 30px 15px;
    background: rgba(255,255,255,0.9);
}
.header{
	width: 30%;
}
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

#toTop{
	position: fixed;
	bottom: 5px;
	right: 5px;
	cursor: pointer;
	display: none;
}


.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gly-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.gly-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.gly-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.gly-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}